<div class="container__big-card">
  
  <div class="big-car__photo">
    <img src="https://oyster.ignimgs.com/wordpress/stg.ign.com/2013/04/IronMan_042213_1600.jpg?width=3840"
    height="200px"     
    srcset="">
  </div> 
    <div class="big-card__title">
      <h1><a href="#"> Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-car__description">
      <p><a href="#">
          Lorem ipsum dolor sit amet,
          consectetur adipiscing elit.
          Maecenas sollicitudin justo a 
          turpis egestas faucibus. Etiam 
          in volutpat erat. Curabitur nulla mi,
          rutrum finibus malesuada non, iaculis
        </a>   
      </p>
    </div>
  
 
    
</div>
